th:nth-child(even) {
    background-color: rgba(150, 212, 212, 0.4);
}

tr:nth-child(even) {
    background-color: #82f9f9;
}

tr:nth-child(odd) {
    background-color: lightgoldenrodyellow;
}

tr{
    border: 2px solid blue;
    border-style:ridge;
    border-color: darkred;
} 

tbody{
    background-color: rgb(189, 227, 242);
}

th{
    background-color:rgb(241, 203, 190);
}

.PlayersInfo{
    float: right;
    background:dimgray;
    margin-right: 3em;
}
