#Navlinks{
    padding-top: -3rem;
    padding-bottom: 3em;
    
}
.navItems{
    color: white;
    /* border-radius: 3px;
    color: aliceblue;
    float: left;
    height: 50px; */
 
    text-align: center;
    font-size: larger;
    margin: 8px;
  }