.Navlinks{
    float: right;
    padding: 1.5em;
    margin-right: 1em;
}
.Menu{
    display: contents;
    color: aqua;
}
.Authentication{
    margin-right: 1.3rem;
}
.SignUp{
    margin-right: 0.5em;
}
.SigningService{
    color:greenyellow;
    display: contents;
}
.MenuItems{
    display: contents;
    color: white;
}