.ModalTitle{
    padding-left: 35%;
}

.AboutUsContent{
    color: rgb(5, 147, 85);
}

.GroupImage{
    height: 200px;
    width: 200px;
    float:left;
    margin-right: 10px;
    margin-top: 10px;
}

.AboutUsDiv{
    display: flex;
}


