#HeaderText {
    border-radius: 3px;
    color: aliceblue;
    font-size: larger;
    float: left;
    height: 50px;
    margin-left: 20%;
    text-align: center;
    margin-top: 1em;
}
  
#PatientText {
    border-radius: 3px;
    color: aliceblue;
    font-size: larger;
    float: right;
    height: 50px;
    margin-right: 25%;
    text-align: center;
    margin-top: 1em;
    margin-left: 20px;
}
  
#HomeText {
    border-radius: 3px;
    color: aliceblue;
    font-size: larger;
    float: right;
    height: 50px;
    margin-right: 20px;
    text-align: center;
    margin-top: 1em;
}
  
.Header {
    border-radius: 2px;
    background-color: rgb(62, 122, 3);
    height: 72px;
    margin: 0px;
    padding: 0px;
    position: sticky;
    top: 0;
    z-index: 3;
}
  
.homePageContent {
    font-size: small;
    text-align: center;
    padding-top: 50px;
}
  
#LinkText {
    font-size: large;
    text-align: center;
    padding: 25px;
    margin-top: 50px;
}