.LoginForm{
    margin-top: 30px;
    float: right;
}

.Labels{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 550;
    margin-right: 8px;
    text-align: center;
    color:honeydew
}

.LoginFormContent{
    text-align: left;
}

.LoginButton{
    float: right;
    background-color: chartreuse;
}
.UsernameLabel{
    margin-right: 3px;
}
.UserEmail{
    margin-right: 40px;
}

.UserPhone{
    margin-right: 38px;
}

.SignUpFirstName{
    margin-right: 5px;
}

.CancelButtons{
    background-color: orange;
    float: right;
    margin-right: 5px;
}