.Navlinks{
    float: right;
    padding: 1.5em;
    margin-right: 1em;
}
.Menu{
    display: contents;
    color: aqua;
    padding-top: 1.5em;
}
.Authentication{
    margin-right: 1.3rem;
}
.SignUp{
    margin-right: 0.5em;
}
.Logout{
    margin-right: 1em;
}
.SigningService{
    color:greenyellow;
    display: contents; 
}
.MenuItems{
    display: contents;
    color: white;
}
.DisplayMenuItemsDiv{
    padding-top: 30px;
    text-align: right;
}


